{{ define "main" }}
{{ partial "back_link.html" . }}

<article>
    <p class="post-meta">
        {{ partial "date.html" . }}
    </p>
		{{ .Title }}
		{{ if .Params.ps_solve_date }}
			Solved At: {{ .Params.ps_solve_date | time.Format "2006-01-02" }}
		{{ end }}

    <h1 class="single-title">{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
