[submodule "themes/jughead"]
	path = themes/jughead
	url = https://github.com/ananthb/jughead
[submodule "themes/bloggraph"]
	path = themes/bloggraph
	url = https://github.com/desmondlzy/bloggraph.git
[submodule "themes/hugo-theme-nostyleplease"]
	path = themes/hugo-theme-nostyleplease
	url = https://github.com/hanwenguo/hugo-theme-nostyleplease
[submodule "themes/soda-note-theme"]
	path = themes/soda-note-theme
	url = https://github.com/nachiketa3299/soda-note-theme
