{{ define "main" }}
<h1 class="single-title"> {{ .Title }} </h1>

{{ .Content }}

{{ $projects := where .RegularPages "Params.project.type" "eq" "team" }}
{{ $projects := sort $projects "Params.project.order"}}

<h1>기술 스택</h1>

<ul>
  <li>Unity5</li>
  <li>C#, C++, Python, CMake</li>
  <li>Unreal Engine 4</li>
  <li>Git/Github</li>
  <li>Vim</li>
</ul>


<h1>팀 프로젝트 포트폴리오</h1>

<p>총 3개의 개발 프로젝트 중 2개의 프로젝트에서 <strong>팀장</strong>으로 활동하였습니다.</p>
<p>모든 개발 프로젝트에서 <strong>핵심 클라이언트 프로그래머</strong>로 작업하였고, 프로젝트의 주요 기술적 의사결정들을 주도하였습니다.</p>

<table class="pf_table">
  <tr>
    <th>프로젝트명</th>
    <th>작업물</th>
    <th>직책</th>
    <th>규모</th>
    <th>기간</th>
  </tr>

{{- range $project := $projects -}}

<tr>
  <!-- 프로젝트명 -->
  <td>
    <a href="{{ $project.Permalink | relURL }}">
    {{- $project.Title -}}
    </a>
  </td>

  <!-- 작업물 -->
  <td>
    {{- $genres := $project.Params.project.genres -}}
    {{- if $genres -}}
      {{- range $idx, $genre := $genres -}}
      {{- $genre -}}{{- if lt $idx (sub (len $genres) 1) -}}, {{ end -}}
      {{- end -}}
    {{- else -}}
      장르 정보 없음
    {{- end -}}
  </td>


  <!-- 직책 -->
  <td>
  {{- $positions := $project.Params.project.position -}}
  {{- if $positions -}}
    {{- range $idx, $pos := $positions -}}
  {{- $pos -}}{{- if lt $idx (sub (len $positions) 1) -}}, {{ end -}}
    {{- end -}}
  {{- else -}}
      직책 정보 없음
  {{- end -}}
  </td>

  <!-- 규모 -->
  <td>
  {{- $size := $project.Params.project.size -}}
  {{- if $size -}}
    {{ $size }}명
  {{- else -}}
    규모 정보 없음
  {{- end -}}
  </td>

  <!-- 기간 -->
  <td>
    {{ $start := $project.Params.project.start_date }}
    {{ $end := $project.Params.project.end_date }}
    {{- $start }} ~ {{ $end -}}
  </td>

</tr>
{{- end -}}

</table>

<h1>개인 프로젝트 포트폴리오</h1>

{{ $projects := where .RegularPages "Params.project.type" "eq" "personal" }}
<table class="pf_table">
  <tr>
    <th>프로젝트명</th>
    <th>요약</th>
  </tr>
{{- range $project := $projects -}}
  <tr>
    <td>
    <a href="{{ $project.Permalink | relURL }}">
      {{- $project.Title -}}
    </a>
    </td>

    <td>
      {{- $project.Params.project.description -}}
    </td>

  </tr>
{{- end -}}
</table>

<h1>기타 활동</h1>

<ul>
  <li>
    <a href="https://nachiketa3299.github.io/RUB/">개인 블로그: Even Idiots can make game</a>
  </li>
  <li>
    <a href="https://github.com/nachiketa3299">nachiketa3299/github</a>
  </li>
  <li>
    <a href="https://solved.ac/profile/nachiketa3299">Solved.ac Rating Gold 3</a>
  </li>
</ul>

{{ end }}