  <table class="ps-info-table">
    {{ $site := .Params.ps.site }}
    {{ $id := .Params.ps.id }}
    {{ $found := false }}
    {{ range .Site.Data.ps_db.ps_db }}
      {{ if and (eq .site $site) (eq .id $id) }}
        {{ $found = true }}
        <tr>
          <th>링크</th>
          <td>
            {{ if .link }}
              <a href="{{ .link }}" class="ps-info-link">[{{ .site }}] {{ .id }} {{ .rank }} {{ .title }}</a>
            {{ else }}
              <span class="ps-info-link">[{{ .site }}] {{ .id }} {{ .rank }} {{ .title }}</span>
            {{ end }}
          </td>
        </tr>
        {{ if .tags }}
        <tr>
          <th>태그</th>
          <td>
            <div class="ps-info-tags">
              {{ range .tags }}
                <span class="ps-info-tag">{{ . }}</span>
              {{ end }}
            </div>
          </td>
        </tr>
        {{ end }}
        <tr>
          <th>풀이일</th>
          <td>
            <div class="ps-info-solutions">
              {{ range .solved }}
                <div class="ps-info-solution">
                  <time datetime="{{ .date }}">{{ .date }}</time>
                </div>
              {{ end }}
            </div>
          </td>
        </tr>
      {{ end }}
    {{ end }}
    {{ if not $found }}
      <tr>
        <td colspan="2" class="ps-info-not-found">문제 정보 찾을 수 없음</td>
      </tr>
    {{ end }}
  </table>
