{{ define "main" }}

<article>
  <header>
      <h1 class="site-title">{{ $.Site.Title }}</h1>
      {{- if $.Site.Params.theme_config.show_description -}}
      <p>{{ $.Site.Params.description }}</p>
      {{- end -}}
  </header>

  {{ .Content }}

  <!-- Recent Posts Section -->
  <section>
    {{ "# Recent Posts" | markdownify }}
    <ul class = "rub-post-list">
      {{ $recent := where .Site.RegularPages "Type" "not in" (slice "page") }}
      {{ $recent = sort $recent "Lastmod" "desc" | first 8 }}
      {{ range $recent }}
      <li>
        <span class="rub-section-text">{{ upper .Type }}</span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>

        <span class="rub-list-date">
          [{{ .Date.Format "2006-01-02" }}]
        </span>

        {{ if ne .Lastmod .Date }}
        <span class="rub-list-lastmod">
          [{{ .Lastmod.Format "2006-01-02" }}]
        </span>
        {{ end }}

      </li>
      {{ end }}
    </ul>
  </section>

  <!-- Section Links -->
  <section>
    {{ "# All Sections" | markdownify }}
    <ul class = "rub-section-list">
        {{ range .Site.Sections }}
          {{ if and (ne .Type "page") (ne .Section "posts") (ne .Section "portfolio") (ne .Title "Drafts") }}
          <li>
              <a href="{{ .Permalink }}">
              <span class="rub-section-text">{{ upper .Type }}</span>
              <span>{{ .Title }}</span>
              </a>
              <span class="rub-list-post-count">[{{ len .Pages }} POSTS]</span>
          </li>
          {{ end }}
        {{ end }}
    </ul>
  </section>

</article>

{{ end }}