{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<article>
  <h1 class="single-title"><span class="rub-section-text">{{ upper .Section }}</span> {{ .Title }}</h1>

  {{ if .Params.toc }}
  {{ .TableOfContents }}
  {{ end }}

  {{ .Content }}

  <hr>

  <p><span class="rub-section-text">{{ upper .Section }}</span> 섹션에 속하는 모든 게시물:</p>

  {{ partial "post_list.html" (dict "ctx" . "section" .Section)}}

  {{"# 전체 데이터베이스" | markdownify}}

  <hr>

  {{ partial "ps_db.html" . }}

</article>

<hr>

  {{ end }}


